@charset "UTF-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.list {
    list-style-type: none;
}

.addbutton {
    background-color: #B6B6B9;
    border: 2px solid #A8A8A9;
    padding: .5em 1.5em .5em 1.5em;
    display: inline;
    border-radius: 8px;
    font-family: Georgia, serif;
    font-size: 1em;  
}

.add {
    height: 3.25em;
    border: 2px solid #9B9B9B;
}

.page-style {
    border: 3px solid grey;
    border-radius: 15px;
    padding: 1em;
    margin: 5em;
}

h2 {
    display: inline-block;
    font-family: Georgia, serif;
    font-weight: lighter;
    font-size: 1em;
}

.title { 
    font-size: 2rem;
    font-family: Georgia, serif;
    display: block;
    text-align: center;
    padding: .25em;
}

.grey {
    background: #E1E1E1;
}

.white {
    background-color: white;
}

.js-strike {
    color: #B6B6B9;
    text-decoration: line-through;
}